body{
  color: maroon;
  font-family: arial;
}

h2 {
  color: maroon;
}

p{
  font-size: 12;
}
.esquerda{
  text-align: left;
}
.centro{
  text-align: center;
}
.direita{
  text-align: right;
}

hr{
  height: 4px;
  border: none;
  background-color: maroon;
  color: maroon;
}