body{
    font-family: arial;
}
h1{
    text-align: center;
    font-weight: normal;
}
h3{
    color: green;
    font-weight: normal;
}

h4{
    color: grey;
    font-weight: normal;
}
h5{
    color: red;
    font-weight: normal;
}
h6{
    color: blue;
    font-weight: normal;
}