body{
  font-family: Arial;
}
p{
  text-align: right;
}

.centro{margin: auto; width:75%; text-align: center;}

.logo{font-size: 48px; font-weight: 900;}
.azul{color: blue;}
.vermelho{color: red;}
.amarelo{color: yellow;}
.verde{color: green;}

.botao{
  text-align: center;
  display: inline-block;
  width: 180px;
  padding:5px;
  background-color: #DBDBDB;
}

input{
  width: 60%;
  padding: 10px;
  margin: 20px;
}